{
    SOGoProfileURL = "postgresql://sogo:sogo@{{ lookup('env', 'SOGO_POSTGRES_HOST') | default('127.0.0.1', true) }}:5432/sogo/sogo_user_profile";
    OCSFolderInfoURL = "postgresql://sogo:sogo@{{ lookup('env', 'SOGO_POSTGRES_HOST') | default('127.0.0.1', true) }}:5432/sogo/sogo_folder_info";
    OCSSessionsFolderURL = "postgresql://sogo:sogo@{{ lookup('env', 'SOGO_POSTGRES_HOST') | default('127.0.0.1', true) }}:5432/sogo/sogo_sessions_folder";
    SOGoAppointmentSendEMailNotifications = {{ lookup('env', 'SOGO_MAILMODIFICATION') | default('YES', true) }};
    SOGoCalendarDefaultRoles = (
        PublicViewer,
        ConfidentialDAndTViewer
    );
    SOGoLanguage = {{ lookup('env', 'SOGO_LANGUAGE') | default('French', true) }};
    SOGoTimeZone = {{ lookup('env', 'SOGO_TIMEZONE') | default('Europe/Paris', true) }};
    SOGoMailDomain = {{ lookup('env', 'SOGO_MAIL_DOMAIN') | default('acme.com', true) }};
    SOGoIMAPServer = {{ lookup('env', 'SOGO_IMAP_HOST') | default('127.0.0.1', true) }};
    SOGoMemcachedHost = {{ lookup('env', 'SOGO_MEMCACHED_HOST') | default('127.0.0.1', true) }};
    SOGoDraftsFolderName = Drafts;
    SOGoSentFolderName = Sent;
    SOGoTrashFolderName = Trash;
    SOGoJunkFolderName = Junk;
    SOGoMailingMechanism = smtp;
    SOGoSMTPServer = "smtp://{{ lookup('env', 'SOGO_SMTP_HOST') | default('127.0.0.1', true) }}";
    //SOGoUIAdditionalJSFiles = (js/theme.js);
    SOGoUserSources = (
      {
        type = ldap;
        CNFieldName = cn;
        IDFieldName = uid;
        UIDFieldName = uid;
        bindFields = (mail);
        //IMAPHostFieldName = mailHost;
        baseDN = "{{ lookup('env', 'SOGO_LDAP_BASE_DN') | default('ou=users,dc=acme,dc=com', true) }}";
        bindDN = "{{ lookup('env', 'SOGO_LDAP_BIND_DN') | default('uid=sogo,ou=users,dc=acme,dc=com', true) }}";
        bindPassword = {{ lookup('env', 'SOGO_LDAP_PASSWORD') | default('querty', true) }};
        canAuthenticate = YES;
        displayName = "Shared Addresses";
        hostname = {{ lookup('env', 'SOGO_LDAP_HOST') | default('127.0.0.1', true) }};
        id = public;
        isAddressBook = YES;
      }
    );
}